<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TimeWatchService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="UserName" value="kalyan.chakravarty2023@gmail.com"/>
    <add key="Password" value="ypvawcavhccgiswu"/>
    <add key="Sender" value="kalyan.chakravarty2023@gmail.com"/>
    <add key="SenderName" value="Time Watch Servcice"/>
    <add key="Subject" value="Time Watch Servcice Exceptions"/>
    <add key="AdminEmails" value="mayank@ifm360.in,Pradeep.yadav@ifm360.in"/>

   
  </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="Server=DESKTOP-7HFP16L;Initial Catalog=TimeWatch; User Id=sa;Password=Mayank@V19"/>

  </connectionStrings>
    <applicationSettings>
        <TimeWatchService.Properties.Settings>
            <setting name="TimeWatchService_TimeWatchContext_Timewatch" serializeAs="String">
                <value>https://ifm360.in/ivm360/WebService/Timewatch.asmx</value>
            </setting>
        </TimeWatchService.Properties.Settings>
    </applicationSettings>
</configuration>
